body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.button-type-strikethrough,
.button-type-strikethrough,
.button-type-quote,
.button-type-code-inline,
.button-type-code-block,
.button-type-table,
.button-type-image {
	display: none !important;
}
